@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-title: 'Montserrat', sans-serif;
$font-body: 'Karla', sans-serif;

$color-light: white;
$color-dark: black;
$color-primary: teal;

$spacing-small: 10px;
$spacing-medium: 20px;

$gutter-width: $spacing-medium;